*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body{
    background-color: #5f5f5f;
}
.header{
    display: inline-block;    
}
header{    
    background-color: black; 
    position: fixed;
    height: 7vh;
    width: 100vw;       
}
.title{
    text-align: center;
    margin: 5px;
    color: whitesmoke;
}
.notes-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;    
    padding-top: 60px;
    margin-bottom: 9px;
}
.add-note-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    width: 350px;
    height: 350px;
    margin: 1px 1px 30px;
    border-radius: 15px;
    border: 1px solid black;
}
.add-note-input{
    margin: 10px 0 5px 0;
    height: 20%;
    width: 85%;
    padding-left: 8px;
    border-radius: 10px;
    border: 1px solid black;
}
.add-note-input::placeholder{
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
}
.add-text-textarea{
    resize: none;
    width: 85%;
    height: 60%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 5px;
}
.add-text-textarea::placeholder{
    text-align: center;
}
.add-note-button, .delete-all-note-button{
    overflow: hidden;
    margin: 3px;
    width: 85%;
    height: 20%;
    border-radius: 10px;
    border: 1px solid black;
}
.all-notes-section{
    display: flex;
    flex-wrap: wrap;
}
.delete-all-note-button{
    background-color: red;
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 8px;
}
.your-note{
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: whitesmoke;
    width: 200px;
    height: 250px;
    margin: 10px 8px 10px 8px;
    border-radius: 10px;
    border: 1px solid black;
}
.your-note input{
    margin: 10px 15px 5px 0;
    height: 20%;
    width: 85%;
    padding-left: 8px;
    border: none;
    font-size: 10px;
    font-weight: bold;
    border-bottom: 2px solid black;
}
.your-note textarea{
    resize: none;
    border: none;
    margin-right: 15px;
    width: 85%;
    height: 60%;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 5px;
}
.div{
    overflow: hidden;
    margin: 3px;
}
.your-note img{
    width: 1.8em;
    height: 1.8em;
    padding: 1px;
    margin: 5px;
}
.footer{
    display: inline-block;    
}
footer{
    background-color: black;
    position: fixed;
    margin-top: 10px;
    bottom: 0;
    height: 8vh;
    width: 100vw;    
    margin-bottom: -4px;
}
.copyRigth{
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    margin: 15px;
}
@media screen and (min-width: 300px) and (max-width: 750px) {
    body{
        overflow-x: hidden;
    }
    .all-notes-section{
        display: flex;
        flex-wrap: wrap; 
        margin: 5px;        
    }
    .container-all-notes-section{
        grid-template-columns: repeat(2, 35vw);
        grid-template-rows: repeat(3, 27vw);
    }
    .your-note{
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: whitesmoke;
        width: 30vw;
        height: 35vh;
        margin: 8px 8px 8px 8px;
        border-radius: 10px;
        border: 1px solid black;
        flex-grow: 2;
    }
}